@model IEnumerable<Vault.Data.Models.Medical.ClinicalDocument>

<div>
  @foreach (var doc in Model)
  {
    <p>@string.Format("{0} - {1}", doc.EffectiveTime.ToString(), doc.Title)</p>
    @*<p>@doc.RecordTarget</p>*@
  }
</div>