@model List<Vault.Data.Models.ClinicalDocument>

<div>
  @foreach (var doc in Model)
  {
    <p>@string.Format("{0} - {1}", doc.effectiveTime.value.ToString(), doc.title)</p>
    @*<p>@doc.RecordTarget</p>*@
  }
</div>